{% extends 'padre.html' %}


{% block contenidoQueCambia %}

<head>
    <title>Búsqueda de Productos</title>
</head>
<body>
    <h1>Resultados de la búsqueda</h1>
    <form method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Buscar productos por nombre">
        <button type="submit">Buscar</button>
    </form>
    {% if productos %}
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
        <p>No se encontraron productos.</p>
    {% endif %}
</body>
{% endblock contenidoQueCambia %}
