 {% load static %}
 
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Suddhi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'CuidadoCorporal' %}">Cuidado corporal</a></li> -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Tinturas' %}">Tinturas madre</a></li>
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Cursos' %}">Cursos</a></li> -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Contacto' %}">Contacto</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'ListProd' %}">Todos los productos</a></li>
                {% if user.is_authenticated and request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'AgregaProd' %}">Agregar Producto</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Comprar</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'ListProd' %}">Todos los productos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Aceites</a></li>
                        <li><a class="dropdown-item" href="#!">Jabon</a></li>
                        <li><a class="dropdown-item" href="#!">Shampoo</a></li>
                        <li><a class="dropdown-item" href="#!">Acondicionador</a></li>
                        <li><a class="dropdown-item" href="#!">Crema Mouse</a></li>
                        <li><a class="dropdown-item" href="#!">Crema para labios</a></li>
                        <li><a class="dropdown-item" href="#!">Desodorante solido</a></li>
                        <li><a class="dropdown-item" href="#!">Desodorantes liquido</a></li>
                        <li><a class="dropdown-item" href="#!">Ungüentos</a></li> -->
                        <form method="get" action="{% url 'Buscar' %}">
                            {% csrf_token %}
                            {{ form.query }}
                        <button type="submit">Buscar</button>
                    </form>
                            </ul>
                            
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <img src="{{ user.cliente.avatar.url }}" height="30px" alt="avatar">
                </div>
                <a class="fw-bolder" href="{% url 'EditarPefil' %}" >Bienvenid@ {{user.username}}</a>
                <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'Registrar' %}">Registrar</a>
            {% endif %}
            
    </div>
</nav>