{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h2>Lista de Productos</h2>
<ul>
    {% for producto in productos %}
        <li>
            <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a>
            {% if user.is_authenticated and request.user.is_superuser %}
            <a href="{% url 'editar_producto' producto_id=producto.id %}" class="btn btn-primary btn-sm">Editar</a>
      <a href="{% url 'eliminar_producto' producto_id=producto.id %}" class="btn btn-danger">Eliminar</a>
    {% endif %}
        </li>
    {% endfor %}
</ul>
  {% endblock contenidoQueCambia %}