{% extends "padre.html" %}

{% block contenidoQueCambia %}
<h2>Lista de Productos</h2>
<h1>Listado de Productos</h1>
<ul>
    {% for producto in productos %}
        <li>
            <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a>
            {% if user.is_authenticated and request.user.is_superuser %}
      <a href="{% url 'eliminar_producto' producto_id=producto.id %}" class="btn btn-danger">Eliminar</a>
    {% endif %}
        </li>
    {% endfor %}
</ul>
  {% endblock contenidoQueCambia %}